<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Please Login</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
   <div>
   <div th:if="${param.error}">
   		<p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
   </div>
   <div th:if="${param.logout}">
   		<p class="text-warning">You have been logged out.</p>
   </div>
	   <form name='f' th:action="@{/login}" method='POST'>
	      <table>
	         <tr>
	            <td>User:</td>
	            <td><input type='text' name='username' value=''></td>
	         </tr>
	         <tr>
	            <td>Password:</td>
	            <td><input type='password' name='password' /></td>
	         </tr>
	         <tr>
	            <td><input name="submit" type="submit" value="submit" /></td>
	         </tr>
	      </table>
	  </form>
  </div>
</body>
</html>