<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Manage Permissions</title>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
	<div class="container-fluid text-center">
		<div><h2>Manage Permissions</h2></div>
		<div class="m-2">
			<a class="h3 text-decoration-none" th:href="@{/permissions/new}">Add New Permission</a>
		</div>
		
		<div th:if="${message}" class="alert alert-success text-center">
			[[${message}]]
		</div>
		
		<div>
			<table class="table table-bordered table table-striped table table-hover" style="width: 50%; margin-left: 25%;">
				<thead class="table-dark">
				<tr>
					<th>Id</th>
					<th>Descriere</th>
					<th></th>
				</tr>
				<tbody>
					<th:block th:each="permission : ${listPermissions}">
						<tr>
							<td> [[${permission.id_permisiune}]]</td>
							<td> [[${permission.descriere}]]</td>
							<td>
								<a class="h4 mr-3 text-decoration-none btn btn-warning" th:href="@{'/permissions/edit/' + ${permission.id_permisiune}}">Edit</a>
								<a class="h4 mr-3 text-decoration-none btn btn-danger" th:href="@{'/permissions/delete/' + ${permission.id_permisiune}}">Delete</a>
							</td>
						</tr>
					</th:block>
				</tbody>
				</thead>
			</table>
		</div>
	</div>
	<a class="btn btn-info" onclick="GoBack()" style="margin-left: 25.5%;">Back</a>
	<script type="text/javascript">
		function GoBack(){
			window.location = "[[@{/system_admin_home}]]";
		}
	</script>
</body>
</html>