<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Utilizatori</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/styles/systemadmin.css}"/>
<script src="https://kit.fontawesome.com/869eb986ed.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark">
		<a th:href="@{/system_admin_home}" class="navbar-brand">Student Voting System</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#toggleMobileMenu"
			aria-controls="toggleMobileMenu"
			aria-expanded="false"
			aria-label="Toggle Navigation"
		>
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="toggleMobileMenu">
			<ul class="navbar-nav ms-auto text-center">
				<li>
					<a class="nav-link" th:href="@{/users}">Utilizatori</a>
				</li>
				<li>
					<a class="nav-link active" th:href="@{/roles}">Roluri</a>
				</li>
				<li>
					<a class="nav-link" th:href="@{/permissions}">Permisiuni</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" role="button">Profil</a>
					<ul class="dropdown-menu"  aria-labelledby="navbarDropdown">
						<li class="dropdown-profile">Logat ca:<span sec:authentication="principal.authorities[0]"></span></li>
						<li class="dropdown-item">
							<form th:action="@{/logout}" method="post">	
								<input class="button_logout1" type="submit" value="Logout" />
							</form>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
		
	<div class="add">
		<a class="h4 text-decoration-none" th:href="@{/roles/new}">Adauga Rol</a>
	</div>
	<div th:if="${message}" class="alert alert-success text-center">
		[[${message}]]
	</div>
	
	<div class="tables">
		<table class="table table-bordered table-hover" >
			<thead>
				<tr>
					<th>#</th>
					<th>Denumire</th>
					<th>Permisiuni</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="rol : ${listRoles}">
						<tr>
							<td> [[${rol.id_rol}]]</td>
							<td> [[${rol.denumire}]]</td>
							<td> [[${rol.permissions}]]</td>
						<td class="table-column-buttons">
							<div class="row d-flex justify-content-center">
								<div class="col-md-6 text-center">
									<a class="btn btn-warning" th:href="@{'/roles/edit/' + ${rol.id_rol}}"><i class="fas fa-edit"></i></a>
								</div>
								<div class="col-md-6 text-center">
									<a class="btn btn-danger" onclick="return confirm('Sunteti sigur ca doriti sa stergeti acest rol?');" th:href="@{'/roles/delete/' + ${rol.id_rol}}"><i class="fa-solid fa-trash-can"></i></a>
								</div>
							</div>
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</body>
</html>